# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environnement virtuel
.venv/

# VS Code
.vscode/

# Tests
.pytest_cache/

# Données personnelles moteur à ne pas diffuser car licence AFNOR
moteur/data/tables_feu.json

# macOS
.DS_Store