# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environnement virtuel
.venv/

# BDD
.env
*.env
!.env.example

# PostgreSQL
*.sql 
backup_*.sql


# VS Code
.vscode/

# Tests
.pytest_cache/

# Données personnelles moteur à ne pas diffuser car licence AFNOR
moteur/src/sectio_moteur/data/tables_feu.json
moteur/src/sectio_moteur/data/tables_enrobage.json

# macOS
.DS_Store